# Ignore build directory with all the latex dump files:
build
built-files
# Ignore final pic files:
*.jpg
*.jpeg
*.png
*.tiff
*.tif
*.gif
# Ignore basic tex cruft:
*.log
*.aux
*.out
# Ignore book outputL:
*.epub
*.html
*.pdf
# ignore this specific production notes file:
README-files-in-this-directory.md

